<!DOCTYPE html>
<html>
<head>
    {% block title %}<title>Free Shelf</title>{% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/freeshelf-style.css' %}">
    <script src="main.js"></script>
</head>

<body>
    <header class="main-header">
        <span class="header-text">
            <h1><a href="{% url 'index' %}">The Freeshelf</a></h1>
            <nav class="registration">
                <ul class="registration-list">
                {% if request.user.is_authenticated %}
                    <li>{{ user.username }}</li>
                    <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'auth_login' %}">Register | Login</a></li>
                {% endif %}
                </ul>
            </nav>
        </span>
    </header>
    <main class="main-container">
        <div class="row">
        </div>
            <section class="pages-content">{% block content %}{% endblock %}</section>
    </main>
    <footer class="footer">
        Thanks for visiting the freeshelf. Pretty cool.
    </footer>
</body>
</html>