<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<h4 class="book-detail-category">{{ categories.books }}</h4>
    <ul>
        <li class="book-item">
            <span class="book-list-title-section">
            <span class="book-title" title="Click here to go to book online"><a href="{{ books.book_url }}" target="_blank">{{ books.title }}</a></span>
            {% if books.author %}
                <span class="by-book-author">- by {{ books.author }}</span>
            {% endif %}
        </span>
        <br><br>
            <p>To find book online, click on book title above.</p>
            <p class="book-description">{{ books.description }}</p>
        </li>
    </ul>

{% endblock %}