<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
    <aside class="sidebar">
    {% for category in books.categories.all %}
        <ul class="sidebar-nav">
            <li class="category-list-item">
            {% if not forloop.last %}
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                <li class="pipe">|</li>
            {% else %} 
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            </li>    
        </ul>
    {% endif %}
    {% endfor %}
    </aside>
    <ul>
        <li class="book-item">
            <span class="book-list-title-section">
            <span class="book-title" title="Click here to go to book online"><a href="{{ books.book_url }}" target="_blank">{{ books.title }}</a></span>
            {% if books.author %}
                <span class="by-book-author">- by {{ books.author }}</span>
            {% endif %}
        </span>
        <br><br>
            <p>To find book online, click on book title above.</p>
            <p class="book-description">{{ books.description }}</p>
        </li>
    </ul>

{% endblock %}