<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<h3 class="sidebar">{{ category.name }} Books Available</h3>
{% if category.books %}
    {% for book in books %}
        <ul>
            <li class="book-item">
                <span class="book-list-title-section">
                <span class="book-title"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></span>
                {% if book.author %}
                    <span class="by-book-author">- by {{ book.author }}</span>
                {% endif %}
            </span>
                <p class="book-description">{{ book.description }}</p>
            </li>
        </ul>
    {% endfor %}
{% else %}
<p>Sorry! No books for that category yet...</p>
{% endif %}
{% endblock %}