<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<aside class="sidebar">
    {% block sidebar %}
    {% if categories %}
        <p class="books-by-category">Books by Category: </p>
        {% for category in categories.all %}
            <ul class="sidebar-nav">
                <li class="category-list-item">
                {% if not forloop.last %}
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                <li class="pipe">|</li>
                {% else %} 
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                {% endif %}
                </li>
            </ul>
        {% endfor %}
    {% endif %}
    {% endblock %}
</aside>
{% for book in books %}
    <ul>
        <li class="book-item">
            <span class="book-list-title-section">
            <span class="book-title"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></span>
            {% if book.author %}
                <span class="by-book-author">- by {{ book.author }}</span>
            {% endif %}
        </span>
            <p class="book-description">{{ book.description|truncatewords:60 }}</p>
        </li>
    </ul>
{% endfor %}

{% endblock %}
