<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
{% for book in books %}
    <ul>
        <li class="book-item">
            <span class="book-list-title-section">
            <span class="book-title"><a href="{url 'book-detail' book.slug %}">{{ book.title }}</a></span>
            {% if book.author %}
                <span class="by-book-author">- by {{ book.author }}</span>
            {% endif %}
        </span>
            <p class="book-description">{{ book.description|truncatewords:60 }}</p>
        </li>
    </ul>
{% endfor %}

{% endblock %}
