
* {
    font-family: Helvetica, Arial, sans-serif;
    /* border: 1px dashed grey; */
    margin: 0;
    padding: 0;
}

a {
    color: rgb(90, 67, 223);
}

a:hover {
    text-decoration: underline;
    color: coral;
}
a:visited {
    color: rgb(90, 67, 223);
}

.main-header {
    flex-wrap: wrap;
    padding: 4rem;
    background-color: mintcream;
    border-bottom: 2px solid rgb(90, 67, 223);
    align-content: space-between;
}

.header-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
}

.main-header h1 {
    font-size: 3rem;
    text-align: left;
}

.registration a:hover {
    text-decoration: underline;
    font-size: 115%;
}

.registration-list {
    list-style: none;
}

.index-header {
    font-size: 1.5rem;
    padding: 1rem 0 1rem 0;
}

.index-intro {
    /* padding: 0 0 0 4rem; */
}

.main-container {
    max-width: 1200px;
    padding: 0 4rem 0 4rem;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0 2rem 0;
}

.sidebar-nav {
    display: flex;
    list-style: none;
}

.books-by-category {
    padding: .25rem .25rem .25rem 0;
}

.category-list-item, .pipe {
    display: inline;
    padding: .25rem;
    justify-content: space-evenly;
}

.pages-content {
    /* padding: 0 4rem 0 4rem; */
}

.book-detail-category {
    padding: 1rem .25rem 1rem 0;
}

.book-list-title-section {
}

.book-item {
    padding: 2rem 0 2rem 0;
    list-style: none;
}

.book-title {
    display: inline;
    font-size: 2rem;
}

.by-book-author {
    display: inline;
}

.book-description {
    padding: 2rem 0 0 0;
}

.footer {
    padding: 3rem 4rem 4rem 4rem;
}